<% content_for(:title, t('.title')) %>

<div class="mx-auto lg:w-3/5">
	<h1 class="mt-8 text-2xl bold text-gray-700 text-center dark:text-white"><%= t('.title') %></h1>
	<p class="mt-2 text-sm text-center text-gray-600"><%= "- #{@coping_list.list_name} -" %></p>

	<%= link_to others_coping_list_copings_path(@coping_list), class: 'flex items-center justify-center text-sm my-4 hover:text-green-600 focus:outline-none focus:underline hover:underline' do %>
		<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 font-semibold text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
		</svg>
		<span class="text-green-600">他の人の作成した項目から登録する</span>
	<% end %>

	<div class="mb-12">
		<%= render 'coping_form', { coping: @coping, coping_list: @coping_list } %>
		<%= link_to "#{@coping_list.list_name}一覧に戻る", coping_list_copings_path(@coping_list), class: 'flex items-center justify-center mt-6 mb-10 text-sm text-green-600 focus:outline-none focus:underline hover:underline' %>
	</div>
</div>