<h1>Copings#new</h1>
<p>コーピング項目新規追加</p>

<%= link_to '他の人のリストから選ぶ', others_coping_list_copings_path(@coping_list) %>
<br />
<br />
<%= form_with model: @coping, url: coping_list_copings_path(@coping_list), local: true do |f| %>
	<% if @coping.errors.present? %>
		<ul>
			<% @coping.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<div class="form-group">
		<%= f.label :coping_name %><br />
		<%= f.text_field :coping_name %>
	</div>
	<div class="form-group">
		<%= f.label :cost_amount %><br />
		<%= f.text_field :cost_amount %>
	</div>
	<div class="form-group">
		<%= f.label :time_amount %><br />
		<%= f.text_field :time_amount %>
	</div>
	<div class="form-group">
		<%= f.label :emoji %><br />
		<%= f.text_field :emoji %>
	</div>
	<div class="form-group">
		<%= f.label :status %><br />
		<%= f.check_box :status, {}, 'close', 'open' %>
	</div>
	<br />
	<%= f.submit %>
<% end %>
<br />
<%= link_to "#{@coping_list.list_name}一覧に戻る", coping_list_copings_path(@coping_list) %>

