<h1>Histories#index</h1>
<p>コーピング項目の評価履歴一覧</p>

<h3><%= @coping_list.list_name %></h3>
<h4><%= @coping.coping_name %></h4>

<% @histories.each do |history|%>
	<%= history.created_at %><br/>
	<%= "評価:#{history.evaluation} / 変化:#{history.change_amount}" %><br/>
    <%= history.note %>
	<br/>
<% end %>
<br/>

<%= link_to 'このリストの項目一覧を見る', coping_list_copings_path(@coping_list) %><br/>
<%= link_to 'このリストの履歴一覧を見る', histories_coping_list_path(@coping_list) %>