<% content_for(:title, "#{@coping.coping_name}の評価履歴") %>

<div class="container mx-auto lg:w-3/5 p-2">
	<h1 class="mt-8 text-2xl bold text-gray-700 text-center dark:text-white"><%= t('.title') %></h1>
	<p class="mt-2 text-sm text-center text-gray-600"><%= @coping_list.list_name %></p>
	<hr>
	<p class="mb-4 text-sm text-center text-gray-600"><%= @coping.coping_name %></p>

	<%= render partial: 'histories/history', collection: @histories %>
	
	<%= link_to "#{@coping_list.list_name}の評価履歴一覧", histories_coping_list_path(@coping_list), class: 'inline-block w-full text-center mt-6 text-md text-green-600 focus:outline-none focus:underline hover:underline' %>
	<%= link_to "#{@coping_list.list_name}一覧に戻る", coping_list_copings_path(@coping_list), class: 'inline-block w-full text-center mt-6 mb-10 text-md text-green-600 focus:outline-none focus:underline hover:underline' %>
</div>