<h1>CopingLists#new</h1>
<p>コーピングリスト新規作成</p>

<%= form_with model: @coping_list, local: true do |f| %>
	<% if @coping_list.errors.present? %>
		<ul>
			<% @coping_list.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<div class="form-group">
		<%= f.label :list_name %><br />
		<%= f.text_field :list_name %>
	</div>
	<br />
	<%= f.submit %>
<% end %>
</br>
<%= link_to 'リスト一覧', coping_lists_path %>